body, html {
    height:100%;
    margin: 0;
    padding: 0;
}
#container {
    width: 80%;
    height:100%;
    background-color: #333F47;
    float:left;
}

#settings {
    width: 20%;
    height: 100%;
    float: right;
    background-color: #efefef;
}